@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  background-color: #1a1a1a;
  color: #ffffff;
  height: 100%;
  width: 100%;
  font-family: 'CustomFont', sans-serif;
}

a {
  color: #ffffff;

}

input, textarea {
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 26px;
  padding: 20px;
  width: 100%;

}

input:focus, textarea:focus {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #6d6b6b;
}

.input-container {
  width: 300px;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}





.scale-on-hover, .scale-on-hover-2 {
  transition: transform 0.5s ease-in-out;
}

.scale-on-hover:hover {
  transform: scale(1.05);
}

.scale-on-hover-2:hover {
  transform: scale(1.15);
}
